@charset "utf-8";
/* CSS Document */
#container{
	width:100%;
	height:100%;
	background: linear-gradient(#E42A30, #670D0F);

	
}
.col1{
	margin:3%;
}
.video1{
margin-left:7%;
}
.video1 span{
	left:40px;
	
}
.video1 p {
	background-color:rgba(75,75,75,0.58);
	color:white;
	border:1px solid;
	padding:10px;
	border-radius:10px;
	width:91%;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed";
	font-size:1.1em;
}
.videoFiller{
	background-color:rgba(75,75,75,0.58);
	width:1080px;
	height:720px;
	border:2px solid white;
	border-style:inset;
}
.videoFiller span{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed";
	font-size:2.6em;
	color:white;
	position:relative;
	left:25%;
	top:45%;
	
	
}

.video{
	border-radius:50%;
	border:solid white 4px;
	border-style:outset;
	background-color:#E42A30;
	height:100px;
	width:100px;
	margin:50px;
	position:relative;
	left:55%;
	
}

.video img{
	position:relative;
	top:20px;
	left:25%;
}
.video span{
	position:absolute;
	right:200%;
	
}
.video p {
	position:relative;
	right:60%;
	color:white;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed";
	font-size:36px;
	text-decoration:none;
	
}
footer p {
	margin-left:550px;	
}
footer{
		position:absolute;
		background-color:rgba(0,0,0,0.76);
		height:50px;
		width: 100%; 
		display: inline-block;
		color: white;
		text-decoration: none;
		position: relative;
	