@charset "utf-8";
/* CSS Document */
#container{
	width:100%;
	height:1000px;
	background:linear-gradient(#FFFFFF, #DBC5D4);
	
}
.aboutMe{
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	
}
.aboutMe p{
	font-size:1.3em;	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border:1.5px solid #C930C9;
	padding:1%;
	background-color:white;
	width:30%;
	
	
	
}


.aboutMe h2 {
	font-size:1.6em;	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border-bottom:1.5px dotted #CA28D4;
	width:25%;
	
		
}

.skills{
	margin-left:10%;
	
	margin-right:10%;
	position:relative;
	paddding-right:400px;
	
	
		
		
}
.skills p {
	font-size:1.2em;	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border-bottom:1.5px dotted pink;
	position:relative;
	bottom:300px;
	left:630px;	
	width:40%;
	border:1.5px solid #D041CF;
	padding:1%;
	background-color:white;
	padding-top:30px;
}
.skills h2{
	display:none;
}
#container span img{
	height:40%;
	position:relative;
	bottom:295px;
	left:530px;
	border:2px solid white;
	}
	.block1{
		width:25%;
		height:25px;
		background-color:#C7C7C7;
		position:relative;
		bottom:588px;
		left:75%;
		z-index:1;
	}	
	.block1Over{
		width:20%;
		height:25px;
		background-color:#D92FC3;
		position:absolute;
		bottom:588px;
		left:75%;
		z-index:2;
	}	
.block2{
		width:25%;
		height:25px;
		background-color:#C7C7C7;
		position:absolute;
		bottom:535px;
		left:75%;
		z-index:1;
	}	
	.block2Over{
		width:15%;
		height:25px;
		background-color:#D92FC3;
		position:absolute;
		bottom:535px;
		left:75%;
		z-index:2;
	}	
	.block3{
		width:25%;
		height:25px;
		background-color:#C7C7C7;
		position:absolute;
		bottom:483px;
		left:75%;
		z-index:1;
	}	
	.block3Over{
		width:23%;
		height:25px;
		background-color:#D92FC3;
		position:absolute;
		bottom:483px;
		left:75%;
		z-index:2;
	}	
	.block4{
		width:25%;
		height:25px;
		background-color:#C7C7C7;
		position:absolute;
		bottom:430px;
		left:75%;
		z-index:1;
	}	
	.block4Over{
		width:15%;
		height:25px;
		background-color:#D92FC3;
		position:absolute;
		bottom:430px;
		left:75%;
		z-index:2;
	}	
	.block5{
		width:25%;
		height:25px;
		background-color:#C7C7C7;
		position:absolute;
		bottom:380px;
		left:75%;
		z-index:1;
	}	
	.block5Over{
		width:20%;
		height:25px;
		background-color:#D92FC3;
		position:absolute;
		bottom:380px;
		left:75%;
		z-index:2;
	}
	.selfie	img{
		height:290px;	
		position:absolute;
		top:240px;
		left:530px;	
		width:200px
		}
	footer p {
	margin-left:550px;	
}
footer{
		position:absolute;
		background-color:#2B2B2B;
		height:50px;
		width: 100%; 
		display: inline-block;
		color: white;
		text-decoration: none;
		position: relative;
}
	.contact h2{
	font-size:1.6em;	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border-bottom:1.5px dotted #CA28D4;
	width:16%;
	text-align:center;
	margin-left:45px;
	
	}
	.contact p{
		font-size:1.1em;	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border:1.5px dashed #C930C9;
	padding:1%;
	background-color:white;
	width:25%;
	}
	.contact{
		position:relative;
		top:-300px;
		margin-left:37%;
		width:70%;
	}
		
		
	

	
	

		
	

	
	
